.main {
  width:100%;
  margin-left: 50px;
  margin-right: 50px;
}

.data{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  
}


.macros {
  width:28%;
}

.analyze {
  margin-top: 50px;
  width:830px;
  display: flex;
  justify-content: space-between;
}